nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 1.5rem;
  background: transparent;
  backdrop-filter: blur(10px);
  transform: translateX(5%);
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 90%;
  z-index: 1;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: black;
}

ul.ul-right {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

ul.ul-right li {
  margin: 0 10px;
}

.active a {
  color: white;
  background-color: var(--color-primary);
  padding: 10px 20px;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  nav {
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 1.2rem;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    transform: none;
    z-index: 1;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }
}
