.label-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label-input-container label {
  width: 100px;
  margin-right: 10px;
  font-weight: bold;
}

.label-input-container input,
.label-input-container textarea {
  flex: 1;
  padding: 8px;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}
